body {
  /*  */
  /* margin: 20px; */
  margin-left: 500px;   /* abnoxious it wont move the calculator right  */ 
  /* text-align: left; */
  /* width: 300; */
  /* margin-left: 900% */

  /* font: 24px "Century Gothic", Futura, sans-serif; */
  /* font: 14px "Cambria", Cambria, Cambria; */
  /* font: 27px "Calibri", Calibri, sans-serif; */
  font: 27px "Verdana", Verdana, sans-serif;
  
  margin: 50px;
  text-indent: -27px;
  /* margin-left: 50px; */
  text-align: center;
  width: 642px;
  color: rgb(131, 131, 131);


  /* text-shadow: 3px 2px rgb(109, 109, 255); */
  /* -webkit-text-decoration: rgb(15, 30, 118) solid overline; */
  /* text-decoration:  rgb(19, 26, 104) solid overline; */
  /* -webkit-text-decoration-skip: objects; */
  /* text-decoration-skip: objects; */

  /* -webkit-text-decoration: slateblue solid underline; */
  /* text-decoration: slateblue solid underline; */
  /* -webkit-text-overline-position: auto; */
  /* margin-left: 900% */

}

ol, ul {
  padding-left: 40px;
}
.boardRowCSS:after { /* after what? */
  clear: both;
  content: "";
  display: table;
}

.statusCSS {
  margin-bottom: 10px;  /* yay this margin did something */
  font-size: 30px;
  /* font-weight: bold; */
}



.squareCSS {
  background: #e1e5e9ea;
  border: 1px solid #e1e5e9ea;
  float: left;
  font-size: 24px;
  /* font-weight: bold; */
  line-height: 95px;
  height: 100px;
  margin-right: 2px;
  margin-top: 2px;
  padding: 0;
  text-align: center;
  width: 210px;
  border-radius: 10px;
}

.sideofsquareCSS {
  background: rgb(246, 246, 254);
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  /* font-weight: bold; */
  line-height: 95px;
  height: 100px;
  margin-right: 2px;
  margin-top: 2px;
  padding: 0;
  text-align: center;
  width: 105px;
  border-radius: 20px;
}


.squareEqual{
  background: #e9fae4;
  /* border: 1px solid #d7dce0ea; */
  float: left;
  font-size: 24px;
  /* font-weight: bold; */
  line-height: 95px;
  height: 100px;
  margin-right: 5px;
  margin-top: 5px;
  padding: 0;
  text-align: center;
  width: 209px;
  border-radius: 25px;
}


.squareCE{
  background: #e1eef8ea;
  /* border: 1px solid #d7dce0ea; */
  float: left;
  font-size: 24px;
  /* font-weight: bold; */
  line-height: 95px;
  height: 100px;
  margin-right: 5px;
  margin-top: 5px;
  padding: 0;
  text-align: center;
  width: 310px;
  border-radius: 25px;
}

.square:focus {  /* what's focus? */
  outline: none;
}


.calcbodCSS {
  max-width: 1200px;
  margin: auto;
}


.resultCSS {
  height: 80px;
  margin-top: 25px;
  margin-bottom: 10px;
  margin-left: 1px;
  background-color: rgb(255, 255, 255);
  width: 627px;
  border-radius: 45px;
  text-align: center;
  line-height: 67px;
  border: 1.5px solid #999;

}
.resultCSS p {  /*  Q for alejandro: what's this with the p? */
  font-size: 40px;
  margin: 5px; /* i feel like the margin params aren't doing anything */
  width: 300;
}

.kbd-navigation .square:focus {
  background: #d0d4f0b6;
}

.overallappCSS {
  display: flex;
  flex-direction: row;
}


















.result {
  height: 60px;
  background-color: #bbb;
  width: 300;
}

.result p {
  font-size: 40px;
  margin: 5px;
  width: 300;

}

.calculator-body {
  max-width: 900px;
  margin: auto;
}

.button {
  display: block;
  background-color: #bbb;
}

button {
  width: 25%;
  height: 60px;
  font-size: 30px;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

